# Environment
NODE_ENV=

# Secret
SECRET_KEY=

# TursoDB
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Discord bot commands
DISCORD_APP_ID=
DISCORD_TOKEN=
DISCORD_GUILD_ID=
DISCORD_COMMAND_ID=

# Discord bot public key
DISCORD_PUBLIC_KEY=

# Discord webhooks
DISCORD_MINTING_URL=

# Sentry auth
SENTRY_AUTH_TOKEN=