# Environment
NODE_ENV=

# URLs
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_RPC_URL=

# Addresses
NEXT_PUBLIC_COLLECTION=
NEXT_PUBLIC_CREATOR1=
NEXT_PUBLIC_CREATOR2=


# Secret
SECRET_KEY=

# TursoDB
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Discord bot commands
DISCORD_APP_ID=
DISCORD_TOKEN=
DISCORD_GUILD_ID=
DISCORD_COMMAND_ID=

# Discord bot public key
DISCORD_PUBLIC_KEY=

# Discord webhooks
DISCORD_MINTING_URL=

# Sentry auth
SENTRY_AUTH_TOKEN=

# Sentry integration
SENTRY_INTEGRATION_TOKEN=
SENTRY_CLIENT_SECRET=

# Facebook API Token
FB_CONVERSION_API_TOKEN=